.card {
    border-radius: 16px;
    margin: 0 auto;
    width: 500px;
    height: 525px;
    max-width: 100%;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0),
      0px 5px 8px 0px rgba(0, 0, 0, 0.14),
      0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    background-size: cover;
  }
.card2 {
    border-radius: 16px;
    margin: 0 auto;
    width: 500px;
    height: 650px;
    max-width: 100%;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0),
      0px 5px 8px 0px rgba(0, 0, 0, 0.14),
      0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    background-size: cover;
  }
.card3 {
    border-radius: 16px;
    margin: 0 auto;
    width: 520px;
    height: 520px;
    max-width: 100%;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0),
      0px 5px 8px 0px rgba(0, 0, 0, 0.14),
      0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    background-size: cover;
  }
.card4 {
    border-radius: 50px;
  }
  .info {
    position: relative;
    width: 100%;
    height: 525px;
    background-color: #fff;
    
    opacity: 0.85;
    transform: translateY(100%)
      translateY(-75px)
      translateZ(0);
    transition: transform 0.5s ease-out;
  }

  .info:before {
    z-index: -1;
    display: block;
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter: blur(10px);
    background-size: cover;
    opacity: 0.25;
    background-size: cover;
    
    transform: translateY(-100%)
      translateY(210px)
      translateZ(0);
    transition: transform 0.5s ease-out;
  }
  
  .card:hover .info,
  .card:hover .info:before {
    transform: translateY(0) translateZ(0);
  }

  .right {
    position: absolute;
    right: 0px;
    width: 480px;
    padding: 35px;
  }
  
 
  .right2 {
    position: absolute;
    right: 450px;
   
  }
  .right3 {
    position: absolute;
    right: 350px;
   
  }
  
  .title {
    margin: 0;
    padding: 24px;
    font-size: 30px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.87);
  }
  .title:hover{
    background-color: #fff;
    opacity: 0.5;
  }
  
  .description {
    margin: 0;
    padding: 0 24px 24px;
    font-size: 16px;
    line-height: 1.5;
  }
 
  
  /* CSS */
  .button-17 {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
  }
  
  .button-17:hover {
    background: #F6F9FE;
    color: #174ea6;
  }
  
  .button-17:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
  }
  
  .button-17:focus {
    outline: none;
    border: 2px solid #4285f4;
  }
  
  .button-17:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .button-17:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
  }
  
  .button-17:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .button-17:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
  }
  
  .button-17:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  .button3 {
    width: 100%;
    background-color: #4CAF50;
  }
  
  
  .article-card {
    width: 450px;
    height: 235px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 300ms;
    background-image: url("../Photo/Promotion.png");
  }
  .article-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .article-card .content {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    padding: 30px 20px 20px 20px;
    height: auto;
    bottom: 0;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
    
  }
  .s1{
    background-image: url("../Photo/coffee1.png");
    background-position: 100%;
  }
  .s2{
    background-image: url("../Photo/mocha.jpg");
    background-position: 100%;
  }
  .s3{
    background-image: url("../Photo/Latte.jpg");
    background-position: 100%;
  }
  .mocha{
    background-image: url("../Photo/coffeetype/1.png");
    background-position: 100%;
  }
  .cappuccino{
    background-image: url("../Photo/coffeetype/2.png");
    background-position: 100%;
  }
  .espresso{
    background-image: url("../Photo/coffeetype/3.png");
    background-position: 100%;
  }
  .latte{
    background-image: url("../Photo/coffeetype/4.png");
    background-position: 100%;
  }
  .americano{
    background-image: url("../Photo/coffeetype/5.png");
    background-position: 100%;
  }
